<div class=" wrap desktop-nav head-main " id="container">
    <div class="d-flex align-items-center">
        <img
                alt=""
                class="mk"
                height="48px"
                id="logo"
                src="images/icons/IconLogo.svg"
        />
        <div style="overflow: hidden; background: black;">
            <img
                    alt=""
                    class="logo-letter slide-in-top  "
                    id="letter"
                    src="images/icons/logo-letter.png"
            />
        </div>
    </div>
    <div class="d-flex align-items-center">
        <div style="overflow: hidden; background: black;">
            <%if (title == 'index') { %>
                <a class="abt mr-3 slide-in-top  " href="/about" id="about"
                >About Us</a
                >
            <% } else if (title == 'about') { %>
            <a class="abt mr-3 slide-in-top  " href="/" id="about"
                        >Home</a>
                <% } %>
        </div>
        <button class="btn-light  " id="button">
            <a
                    class="mail"
                    href="mailto:ea@deepview.com?Subject=Welcome to DeepView. Come dive with us."
                    target="_blank"
                    target="_top"
            >Contact Us</a
            >
        </button>
    </div>
</div>
