<footer class="container p-4">
    <div class="row justify-content-between">
        <div class="row">
            <p class="deepview opacity">&#169; 2019 DeepView</p>
            <a class="terms" href="javascript:void(0);" target="_blank">
                Terms of use
            </a>
            <a class="terms" href="javascript:void(0);" target="_blank">
                Privacy
            </a>
        </div>
        <div class="row social">
            <a
                    class="social-links"
                    href="https://www.facebook.com/Deepview3.0/"
                    target="_blank"
            >
                <img alt="facebook" src="images/icons/facebook.svg"/>
            </a>
            <a
                    class="social-links"
                    href="https://twitter.com/deepview3"
                    target="_blank"
            >
                <img alt="twitter" src="images/icons/twitter.svg"/>
            </a>
            <a
                    class="social-links"
                    href="https://www.linkedin.com/company/social-media-charter/"
                    target="_blank"
            >
                <img alt="linkedin" src="images/icons/linkedin.svg"/>
            </a>
        </div>
    </div>
</footer>
