<!-- imageguard modal -->
<div
        aria-hidden="true"
        aria-labelledby="exampleModalCenterTitle"
        class="modal fade guard-modal"
        id="imageguard"
        role="dialog"
        tabindex="-1"
>
    <button class="modal-close" data-dismiss="modal">
        <img alt="" src="images/icons/Button Rounded Xsmall Inverted.svg"/>
    </button>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex ">
            <div class="m-0 d-flex flex-column modal-width">
                <img
                        alt=""
                        class="img-fluid m-image"
                        src="images/icons/DV_textEffect_ImageGuard.png"
                />
            </div>
            <div class="p-5 box-contain ">
                <h4 class="opacity">THE PROBLEM</h4>
                <p class="opacity">
                    Reputational and security risk via photos and videos. Inadvertent
                    photo data leaks via employees' social media, particularly photos
                    and videos. These leaks include passwords on Post-it notes,
                    programs, and client data on computer screens.
                </p>
                <h4 class="opacity pt-4">OUR SOLUTION</h4>
                <p class="opacity">
                    Real-time alerts for fast response to data leaks via video, text
                    and photo. Allowing you to remove the data leaks and show
                    regulators ‘best-practice’ data management.
                </p>
                <h4 class="opacity pt-4">REGULATIONS MET</h4>
                <a
                        class="new-blue"
                        href="https://www.govinfo.gov/content/pkg/PLAW-106publ102/pdf/PLAW-106publ102.pdf"
                        target="_blank"
                >Gramm-Leach-Bliley Act (US) 1999</a
                >
                <br/>
                <a
                        class="new-blue"
                        href="https://www.handbook.fca.org.uk/handbook/CONC/3/10.html?date=2015-11-02"
                        target="_blank"
                >FCA CONC 3.10</a
                >
                <p class="pt-4">
                    These are just examples of the global regulations this product
                    meets. For more questions
                </p>
                <div class="d-flex justify-content-center align-items-center mt-4">
                    <a
                            class="mail"
                            href="mailto:ea@deepview.com?Subject=Welcome to DeepView. Come dive with us."
                            target="_blank"
                            target="_top"
                    >
                        <button class="btn-accent">
                            Please ask our Buddies
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- chartguard modal -->
<div
        aria-hidden="true"
        aria-labelledby="exampleModalCenterTitle"
        class="modal fade guard-modal"
        id="chartguard"
        role="dialog"
        tabindex="-1"
>
    <button class="modal-close" data-dismiss="modal">
        <img alt="" src="images/icons/Button Rounded Xsmall Inverted.svg"/>
    </button>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex ">
            <div class="m-0 d-flex flex-column modal-width">
                <img
                        alt=""
                        class="img-fluid m-image"
                        src="images/icons/DV_textEffect_ChatGuard.png"
                />
            </div>
            <div class="p-5 box-contain ">
                <h4 class="opacity">THE PROBLEM</h4>
                <p class="opacity">
                    Requirement to record and archive social media ‘chat’ channels
                    used on BYOD and corporate devices by employees eg WhatsApp,
                    WeChat, LinkedIn messaging.
                </p>
                <h4 class="opacity pt-4">OUR SOLUTION</h4>
                <p class="opacity">
                    Splits work and personal, and archive work chats; allowing
                    employees fast and compliant access to personal networks. This
                    provides automated discovery of insider trading and contractually
                    binding statements where needed.
                </p>
                <h4 class="opacity pt-4">REGULATIONS MET</h4>
                <a
                        class="new-blue"
                        href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/711097/guide-to-the-general-data-protection-regulation-gdpr-1-0.pdf"
                        target="_blank"
                >GDPR May 2018</a
                >
                <br/>
                <a
                        class="new-blue"
                        href="https://www.sec.gov/fast-answers/answers-form10khtm.html"
                        target="_blank"
                >SEC Form 10-K</a
                >
                <p class="pt-4">
                    These are just examples of the global regulations this product
                    meets. For more questions
                </p>
                <div class="d-flex justify-content-center align-items-center mt-4">
                    <a
                            class="mail"
                            href="mailto:ea@deepview.com?Subject=Welcome to DeepView. Come dive with us."
                            target="_blank"
                            target="_top"
                    >
                        <button class="btn-accent">
                            Please ask our Buddies
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- corpguard modal -->
<div
        aria-hidden="true"
        aria-labelledby="exampleModalCenterTitle"
        class="modal fade guard-modal"
        id="corpguard"
        role="dialog"
        tabindex="-1"
>
    <button class="modal-close" data-dismiss="modal">
        <img alt="" src="images/icons/Button Rounded Xsmall Inverted.svg"/>
    </button>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex ">
            <div class="m-0 d-flex flex-column modal-width">
                <img
                        alt=""
                        class="img-fluid m-image"
                        src="images/icons/DV_textEffect_CorpGuard.png"
                />
            </div>
            <div class="p-5 box-contain ">
                <h4 class="opacity">THE PROBLEM</h4>
                <p class="opacity">
                    Requirement to record, archive and monitor corporate social media
                    channels for compliance and data leaks eg LinkedIn, Twitter and
                    Facebook.
                </p>
                <h4 class="opacity pt-4">OUR SOLUTION</h4>
                <p class="opacity">
                    Archiving and record keeping for corporate social media channels
                    in line with regulatory requirements.
                </p>
                <h4 class="opacity pt-4">REGULATIONS MET</h4>
                <a
                        class="new-blue"
                        href="https://www.finra.org/rules-guidance/rulebooks/finra-rules/4510"
                        target="_blank"
                >FINRA Rule 4510
                </a>
                <br/>
                <a
                        class="new-blue"
                        href="https://www.finra.org/rules-guidance/rulebooks/finra-rules/2210"
                        target="_blank"
                >NASD Rule 2210 (b)</a
                >
                <p class="pt-4">
                    These are just examples of the global regulations this product
                    meets. For more questions
                </p>
                <div class="d-flex justify-content-center align-items-center mt-4">
                    <a
                            class="mail"
                            href="mailto:ea@deepview.com?Subject=Welcome to DeepView. Come dive with us."
                            target="_blank"
                            target="_top"
                    >
                        <button class="btn-accent">
                            Please ask our Buddies
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- trainingguard modal -->
<div
        aria-hidden="true"
        aria-labelledby="exampleModalCenterTitle"
        class="modal fade guard-modal"
        id="trainingguard"
        role="dialog"
        tabindex="-1"
>
    <button class="modal-close" data-dismiss="modal">
        <img alt="" src="images/icons/Button Rounded Xsmall Inverted.svg"/>
    </button>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex ">
            <div class="m-0 d-flex flex-column modal-width">
                <img
                        alt=""
                        class="img-fluid m-image"
                        src="images/icons/DV_textEffect_TrainingGuard.png"
                />
            </div>
            <div class="p-5 box-contain ">
                <h4 class="opacity">THE PROBLEM</h4>
                <p class="opacity">
                    Education is one of the most effective ways to safeguard against
                    non-malicious employee error, especially when it comes to social
                    media.
                </p>
                <h4 class="opacity pt-4">OUR SOLUTION</h4>
                <p class="opacity">
                    Short and fun animations to assist with implementing Social Media
                    policy and promoting good practice.
                </p>
            </div>
        </div>
    </div>
</div>
