<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta content="DeepView" name="title"/>
    <meta
            content="A privacy-focused platform to monitor and archive business communications"
            name="description"
    />
    <meta
            content="deep view, social media compliance, deep fake, image recognition, monitoring, social media, risk management"
            name="keywords"
    />
    <!-- <meta name="robots" content="index, follow"> -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="English" name="language"/>
    <meta content="5 days" name="revisit-after"/>
    <meta content="Deepview" name="author"/>
    <link href="stylesheets/css/style.css" rel="stylesheet"/>
    <link
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            rel="stylesheet"
    />
    <script
            crossorigin="anonymous"
            src="https://kit.fontawesome.com/89f0d427e9.js"
    ></script>
    <link href="https://use.typekit.net/idd5osv.css" rel="stylesheet"/>
    <link href="stylesheets/css/owl.carousel.min.css" rel="stylesheet"/>
    <link href="stylesheets/css/owl.theme.default.min.css" rel="stylesheet"/>

    <link
            crossorigin="anonymous"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://izitoast.marcelodolza.com/css/iziToast.min.css?v=140a"
    />
    <title>DeepView</title>
</head>

<body id="root">
<!--Include Mobile Nav -->
<% include ./components/mobile-nav.ejs %>

<!--Include Desktop Nav-->
<% include ./components/desktop-nav.ejs %>

<!--Include Side Nav for Mobile-->
<% include ./components/mobile_sidenav.ejs %>






<main class="first">
    <main class="hero-body d-flex">
        <div class="hero-text-area d-flex flex-column justify-content-center ">
            <h2 class="text-white">
                A privacy-focused platform to monitor and archive business
                communications
            </h2>
            <div class="text-point mt-3">
                <img alt="" src="images/icons/check-mark.svg"/>
                <p>
                    Real-time recognition and alerting of compliance and data loss
                    based on images, videos, and text from social media and other
                    digital channels
                </p>
            </div>
            <div class="text-point mt-1">
                <img alt="" src="images/icons/check-mark.svg"/>
                <p>
                    GDPR compliant monitoring and data archiving functionality,
                    enables our clients to be in line with requirements from their
                    respective regulatory bodies
                </p>
            </div>
            <div class="mt-3">
                <button
                        class="btn-accent mt-4"
                        data-target="#requestDemo"
                        data-toggle="modal"
                >
                    Request Demo
                </button>
            </div>
        </div>
        <div
                class="helmet w-50 d-flex justify-content-center align-items-center"
        >
            <img
                    alt=""
                    class="img-fluid"
                    src="images/icons/DeepView_Img1.png"
            />
        </div>
    </main>
    <div class="dive-deeper">
        <p class="p-0 m-0">DIVE DEEPER</p>
        <hr class="line"/>
    </div>
</main>
<main class="section-two central">
    <div class="the-problem d-flex">
        <div
                class="problem-image d-flex justify-content-center align-items-center"
        >
            <img
                    alt=""
                    src="images/icons/DeepView_DiverProblem_SVG.svg"
                    width="100%"
            />
        </div>
        <div
                class=" problem-text d-flex flex-column justify-content-center p-3"
        >
            <h3 class="text-white">The Problem</h3>
            <div class="text-white">
                Social media apps and channels are not built to be compliant or
                secure.
            </div>
            <div class="text-point p-0 mt-3">
                <img alt="" src="images/icons/check-mark.svg"/>
                <div class="">
                    Current digital risk monitoring solutions cannot read photos and
                    videos
                </div>
            </div>
            <div class="text-point mt-3">
                <img alt="" src="images/icons/check-mark.svg"/>
                <div>
                    Archiving and monitoring solutions do not meet privacy and GDPR
                    standards, especially on BYOD
                </div>
            </div>
            <div class="text-point mt-3">
                <img alt="" src="images/icons/check-mark.svg"/>
                <div>
                    Reputations and security are risked daily with enthusiastic
                    employees posting Instagram photos and videos on LinkedIn
                </div>
            </div>
        </div>
    </div>
    <div class=" d-flex the-solution">
        <div class="problem-text d-flex flex-column justify-content-center p-3">
            <h3 class="text-white">Our Solution</h3>
            <div class="text-white">
                The first platform to automate the entire end-to-end monitoring
                lifecycle with an enterprise-wide regulatory intelligence, including
                GDPR.
            </div>
            <div class="text-point mt-3">
                <img alt="" src="images/icons/check-mark.svg"/>
                <div>
                    Real-time alerts for fast response to data leaks via video, text
                    and photo and organizations awareness of public data leaks
                </div>
            </div>
            <div class="text-point mt-3">
                <img alt="" src="images/icons/check-mark.svg"/>
                <div>
                    Evidence to regulators of ‘best-practice’ in data monitoring and
                    archiving
                </div>
            </div>
            <div class="text-point mt-3">
                <img alt="" src="images/icons/check-mark.svg"/>
                <div>
                    Under 120 seconds onboarding time, tailored to specific
                    organizations and key risk personal
                </div>
            </div>
        </div>
        <div
                class="problem-image d-flex justify-content-center align-items-center"
        >
            <img
                    alt=""
                    src="images/icons/DeepView_DiverSolution_SVG.svg"
                    width="100%"
            />
        </div>
    </div>
    <div
            class="d-flex justify-content-center align-items-center flex-column mt-5 products mx-auto"
    >
        <h3 class="text-white">
            Our Products
        </h3>
        <div class="text-center mt-3 text-white opacity">
            DeepView delivers a unified platform for managing risk on digital
            platforms. One interactive secure portal allowing our ‘Buddies’ to
            enable employees to engage their networks securely and compliantly.
        </div>
    </div>
    <div class="d-flex justify-content-between mt-5 guards">
        <div class="d-flex box flex-column box-container ">
            <div class=" box-area">
                <img
                        alt=""
                        height="100px"
                        src="images/icons/DV_textEffect_ImageGuard.png"
                />
            </div>
            <p class=" text-white pt-3 opacity ">
                Real-Time Alerts For Fast Response to
                <span class="accent opacity"> Data Leaks</span>.
            </p>
            <p
                    class="accent read opacity"
                    data-target="#imageguard"
                    data-toggle="modal"
            >
                Read more
            </p>
        </div>
        <div class="d-flex box flex-column box-container">
            <div class="box-area">
                <img
                        alt=""
                        height="100px"
                        src="images/icons/DV_textEffect_ChatGuard.png"
                />
            </div>
            <p class=" text-white pt-3 opacity ">
                <span class="accent opacity"> Real-Time Alerts</span> For Fast
                Response to Data Leaks.
            </p>
            <p
                    class="accent read opacity"
                    data-target="#chartguard"
                    data-toggle="modal"
            >
                Read more
            </p>
        </div>
        <div class="d-flex box flex-column box-container">
            <div class="box-area">
                <img
                        alt=""
                        height="100px"
                        src="images/icons/DV_textEffect_CorpGuard.png"
                />
            </div>

            <p class="text-white pt-3 opacity">
            <span class="accent opacity">
              Archiving And Record Keeping
            </span>
                For Cooperate Social Media.
            </p>
            <p
                    class="accent read opacity"
                    data-target="#corpguard"
                    data-toggle="modal"
            >
                Read more
            </p>
        </div>
        <div class="d-flex box flex-column box-container">
            <div class="box-area">
                <img
                        alt=""
                        height="100px"
                        src="images/icons/DV_textEffect_TrainingGuard.png"
                />
            </div>

            <p class="text-white pt-3 opacity">
                Promoting Good Practices And
                <span class="opacity accent">Social Media Policy</span>.
            </p>

            <p
                    class="accent read opacity"
                    data-target="#trainingguard"
                    data-toggle="modal"
            >
                Read more
            </p>
        </div>
    </div>
    <div class="report d-flex flex-column align-items-center">
        <div class=" text-center mx-auto">
            <h3 class="text-white opacity reporting">
                Reporting, Archiving and Better Digital <br/>
                Safety
            </h3>
        </div>
        <div class="image-cont">
            <img
                    alt=""
                    class="img-fluid"
                    src="images/icons/DeepView ScreenShot.png"
            />
        </div>
    </div>

    <div
            class=" d-flex justify-content-center flex-column align-items-center mt-5 "
    >
        <h3 class="text-white opacity mt-5">Did You Know</h3>
        <div class="owl-carousel owl-theme carousel mt-5">
            <div class="sixty-five">
                <div class="image-back">
                    <img
                            alt=""
                            class="image-dive"
                            src="images/icons/DeepView_DiverHead_SVG.svg"
                    />
                </div>
                <h1 class="accent">60%</h1>
                <h5 class="text-white pt-2">
                    of information to hack a company can be found on Instagram
                </h5>
                <p class="text-white opacity pt-3">
                    According to Rachel Tobac, renowned social engineer, 60% of the
                    information needed to hack a company is found on Instagram as
                    employees inadvertently share confidential data.
                </p>
            </div>

            <div class="sixty-five">
                <div class="image-back">
                    <img
                            alt=""
                            class="image-dive"
                            src="images/icons/DeepView_DiverHead_SVG.svg"
                    />
                </div>
                <h1 class="accent">65%</h1>
                <h5 class="text-white pt-2">
                    businesses worried that consumer chat apps can create a security
                    "loophole"
                </h5>
                <p class="text-white opacity pt-3">
                    Half were troubled by their inability to monitor and audit
                    employee communications. Ovum’s 2017 “Secure Enterprise Messaging”
                    survey of 300 businesses.
                </p>
            </div>
            <div class="sixty-five">
                <div class="image-back">
                    <img
                            alt=""
                            class="image-dive"
                            src="images/icons/DeepView_DiverHead_SVG.svg"
                    />
                </div>
                <h1 class="accent">50%</h1>
                <h5 class="text-white pt-2">
                    more likely to achieve sales quota when teams are engaged on
                    social media
                </h5>
                <p class="text-white opacity pt-3">
                    Research from LinkedIn and Hootsuite found that executives have a
                    key role to play in using social media to enhance the reputation
                    of their firms, attract talent, and increase sales.
                </p>
            </div>
        </div>
    </div>
    <div class="welcome-to-deep the-problem d-flex">
        <div
                class=" problem-image d-flex justify-content-center align-items-center opacity"
        >
            <img
                    alt=""
                    src="images/icons//DeepView_DiverFooter_SVG.svg"
                    width="100%"
            />
        </div>
        <div
                class="problem-text d-flex justify-content-center align-items-center"
        >
            <div
                    class="d-flex flex-column justify-content-center align-items-start p-3"
            >
                <h3 class="text-white opacity footer-text">
                    Welcome to DeepView<br/>
                    Come dive with us
                </h3>

                <button
                        class="btn-accent mt-4"
                        data-target="#requestDemo"
                        data-toggle="modal"
                >
                    Request Demo
                </button>
            </div>
        </div>
    </div>
</main>







<!--Include Footer design-->
<% include ./components/footer.ejs%>


<!--Include Products Design -->
<% include ./components/producs.ejs%>


<!--Include Demo Request form-->
<% include ./components/demo_request.ejs%>

<script>
    /* Open the sidenav */
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
        document.getElementById("root").style.overflow = "hidden";
        // console.log('clicked')
    }

    /* Close/hide the sidenav */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("root").style.overflow = "auto";
    }
</script>
<script
        crossorigin="anonymous"
        src="https://kit.fontawesome.com/89f0d427e9.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
></script>
<script
        crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
></script>
<script src="javascripts/js/owl.carousel.min.js"></script>
<script src="javascripts/js/app.js"></script>
<!--Load Vue as a resource into root index-->
<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://izitoast.marcelodolza.com/js/iziToast.min.js?v=140b"></script>
<script src="javascripts/js/deepview-notifier.js"></script>
</body>
</html>
