* {
  font-family: pt-sans-pro, sans-serif !important;
  font-weight: 400, 600, 700, 900 !important;
  outline: none !important;
}
html {
  font-size: 15px;
}
body {
  background: #000000 !important;
  padding: 0 !important;
  margin: 0 !important;
}
h1 {
  font-size: 3.2rem !important;
  font-weight: bold !important;
}
h2 {
  font-size: 2.66rem !important;
  font-weight: bold !important;
}
h3 {
  font-size: 2.13rem !important;
  font-weight: bold !important;
}
h4 {
  font-size: 1.4rem !important;
  font-weight: bold !important;
}
h5 {
  font-size: 1.33rem !important;
  font-weight: bold !important;
}
h6 {
  font-weight: bold !important;
  font-size: 1.067rem !important;
}

.abt {
  font-size: 1rem !important;
  color: #ffffffb3 !important;
  display: inline-block;
  text-decoration: none !important;
}
.abt::after {
  content: "";
  display: block;
  margin-top: 3px;
  width: 0;
  height: 2px;
  background: rgb(189, 183, 183);
  transition: width 0.3s;
  text-decoration: none;
}
a:hover {
  color: white !important;
}
a:hover::after {
  width: 100%;
  color: white !important;
}
.text-white {
  color: #f8f8f8;
}
.text-anchor {
  color: #2b8dff;
}
.black {
  color: #000000;
}
.accent {
  color: #00ced1;
}
.opacity {
  opacity: 0.8;
}
.btn-accent {
  color: #00ced1;
  padding: 0 1rem;
  border-radius: 40px;
  height: 48px;
  border: 1px solid #00ced1b2;
  font-size: 1rem;
  background: transparent !important;
  position: relative;
}
.btn-accent::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  opacity: 0;
  top: 14px;
  right: 20px;
  transition: 0.3s;
}
.btn-accent:hover {
  padding-right: 30px;
  padding-left: 9px;
}

.btn-accent:hover:after {
  opacity: 1;
  right: 8px;
}
.btn-light {
  color: #ffffffb3 !important;
  padding: 0 1rem;
  border-radius: 40px;
  height: 40px;
  border: 1px solid #ffffffb3;
  font-size: 1rem;
  background: transparent !important;
}
.btn-light:hover {
  color: white !important;
}
.logo-letter {
  height: 16px;
  margin-left: 1rem;
}
.main-logo {
  margin-left: 2rem;
}
.nav-area {
  height: 9.5vh;
  width: 78vw;
  position: sticky;
  padding-top: 1rem;
  top: 0;
  padding-bottom: 10px;
  z-index: 10;
  transition: top 0.7s ease-in-out;
}
.links-area a:nth-child(2) {
  margin: 0 18px;
}
.links-area button {
  margin-right: 2rem;
}
.hero-body {
  height: 90vh;
  width: 80%;
  margin: auto;
}
.text-point {
  display: flex;
  align-items: baseline;
}
.text-point p {
  padding-left: 16px;
  color: #f8f8f8;
  opacity: 0.8;
}
.first {
  position: relative;
}
.dive-deeper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 75vh;
  color: #f8f8f8;
  opacity: 0.8;
  font-size: 14px;
  width: 100%;
}
.line {
  border: 0.5px solid #f8f8f8;
  opacity: 0.8;
  height: 50px;
}
.central {
  width: 80%;
  margin: auto;
}
.the-problem {
  margin-top: 50px;
}
.problem-image {
  opacity: 0.5;
  flex-grow: 1;
}
.the-problem p {
  color: #f8f8f8;
  opacity: 0.8;
  margin-top: 1rem;
}
.the-solution p {
  color: #f8f8f8;
  opacity: 0.8;
  margin-top: 1rem;
}

.products {
  width: 55%;
}
.fit {
  flex: 1;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.box {
  width: 230px;
}
.box-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: url("../icons/DV_textEffect_BG-min.jpg");
  background-size: cover;
  border-bottom: 1px solid black;
}
.box-container::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #00ced1;
  transition: width 0.3s;
}
.box-container:hover::after {
  width: 100%;
}
.box-container {
  background: #111111;
  position: relative;
}
.read::after {
  content: "\f30b";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  opacity: 0;
  bottom: 14px;
  left: 120px;
  transition: 0.7s;
}

.box-container .read:hover:after {
  opacity: 1;
  left: 130px;
}

.box p {
  padding: 0 2.5rem;
}
.box-area img {
  padding-left: 1.1rem;
}
.sixty {
  width: 400px;
  height: 320px;
  padding: 1.5rem;
  opacity: 0.8;
  position: relative;
  background: #121212;
  overflow: hidden;
  z-index: 100;
}
.sixty h5 {
  letter-spacing: 1.2px;
  line-height: 1.8rem;
}
.image-back {
  position: absolute;
  width: 900px;
  right: -26vw;
  top: -28vh;
  opacity: 0.05;
}
.sixty-five {
  width: 400px;
  padding: 1.5rem;
  opacity: 0.3;
  position: relative;
  overflow: hidden;
  z-index: -100;
}
.owl-item.active.center > div {
  width: 400px;
  padding: 1.5rem;
  opacity: 0.8;
  position: relative;
  background: #121212;
  overflow: hidden;
  z-index: 100;
  height: 450px;
}
/* .owl-item.active > div {
  border: 1px solid yellow;
}

.owl-item .cloned {
  border: 1px solid green;
} */
/* .owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 20px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center;
} */
.report {
  margin-top: 130px;
}
.image-cont {
  margin-top: -80px;
}
.reporting {
  line-height: 2.8rem;
  letter-spacing: 1px;
}
.problem-text {
  width: 545px;
}
.footer-text {
  line-height: 2.8rem;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
}
.owl-carousel .owl-prev {
  position: absolute;
  background: none;
  left: -40px;
  top: 40%;
}
.owl-carousel .owl-next {
  position: absolute;
  background: none;
  right: -40px;
  top: 40%;
}
.owl-carousel .owl-next:hover,
.owl-carousel .owl-prev:hover {
  background: none !important;
}
.owl-carousel .owl-prev span {
  font-size: 80px;
  font-weight: 100;
}
.owl-carousel .owl-next span {
  font-size: 80px;
  font-weight: 100;
}
/* ==========================================================================
    FOOTER
    ========================================================================== */
footer .deepview {
  text-align: left;
  font: Regular 13px/42px PT Sans Pro;
  letter-spacing: 1.04px;
  color: #ffffff;
  opacity: 1;
}
footer a.terms {
  margin-left: 16px;
  text-align: left;
  text-decoration: underline !important;
  font: Regular 13px/26px PT Sans Pro;
  letter-spacing: 1.04px;
  color: #bbb !important;
  opacity: 0.45;
}
footer a.terms::after {
  content: "";
  display: block;
  margin-top: 3px;
  width: 0;
  height: 2px;
  background: transparent;
  transition: width 0.3s;
  text-decoration: none;
}
footer a.terms:hover {
  text-decoration: underline;
  color: #fff !important;
}
footer img {
  width: 32px;
  height: 32px;
  opacity: 0.4;
}
footer .social .social-links {
  text-decoration: none !important;
}
footer .social .social-links::after {
  content: "";
  display: block;
  margin-top: 3px;
  width: 0;
  height: 2px;
  background: transparent;
  transition: width 0.3s;
  text-decoration: none;
}
/* ==========================================================================
       MODAL
       ========================================================================== */
#requestDemo .modal-dialog {
  /* min-width: ; */
  max-width: 100% !important;
  width: 1153px;
  /* background: transparent; */
}
#requestDemo .modal-content {
  background-color: transparent;
}
#requestDemo #request-form-wrapper {
  background-color: #000000;
  width: 1153px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 25px;
}
#requestDemo #request-form-image-container {
  height: 100%;
  width: 60%;
  background-color: #000000;
  border-radius: 25px;
}
#requestDemo #request-form-image {
  background-image: url("../icons/DeepView_DiverHead_SVG.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -1340px -810px;
  background-size: 2800px 2400px;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  border-radius: 25px;
}
#requestDemo #request-form {
  height: 100%;
  width: 40%;
  background-color: #00ced1;
  border-radius: 25px;
}
/*
==========================================================================
MODAL
==========================================================================
*/
#requestDemo .modal-dialog {
  max-width: 100% !important;
  width: 1153px;
}
#requestDemo .modal-content {
  background-color: transparent;
}
#requestDemo #request-form-wrapper {
  background-color: #000000;
  width: 1153px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 25px;
}
#requestDemo #request-form-image-container {
  height: 100%;
  width: 60%;
  background-color: #000000;
  border-radius: 25px;
  opacity: 1;
}
#requestDemo #request-form-image {
  background-image: url("../icons/DeepView_DiverHead_SVG.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -1340px -780px;
  background-size: 2800px 2400px;
  height: 100%;
  width: 100%;
  opacity: 0.55;
  filter: grayscale(1);
  border-radius: 25px;
  background-color: #000000;
}
#requestDemo #request-form {
  height: 100%;
  width: 40%;
  background-color: #00ced1;
  border-radius: 25px;
}
.modal-backdrop.show {
  opacity: 0.85 !important;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
}

.m-image {
  object-fit: cover;
  background: url("../icons/DV_textEffect_BG-min.jpg");
  background-size: cover;
  border-bottom: 1px solid black;
}
.box-contain {
  background: #000000;
  color: #f8f8f8;
}

.modal-width {
  width: 634;
}
.new-blue {
  color: #0ba3f480;
}

#requestDemo .modal-dialog {
  max-width: 100% !important;
  width: 1153px;
}
#requestDemo .modal-content {
  background-color: transparent;
}
#requestDemo #request-form-wrapper {
  background-color: #000000;
  width: 1153px;
  height: 80vh;
  margin: 0 auto;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 25px;
}
#requestDemo #request-form-image-container {
  height: 100%;
  width: 60%;
  background-color: #000000;
  border-radius: 25px;
}
#requestDemo #request-form-image {
  background-image: url("../icons/DeepView_DiverHead_SVG.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: -1340px -810px;
  background-size: 2800px 2400px;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  border-radius: 25px;
}
#requestDemo #request-form {
  height: 100%;
  width: 40%;
  background-color: #00ced1;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px 80px 0;
}
#requestDemo form {
  margin: 10px 0 0;
  width: 100%;
}
#requestDemo form .form-group {
  margin: 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}
#requestDemo form .form-group input {
  background: transparent;
  width: 100%;
  border: none;
}
#requestDemo form .form-group input::placeholder {
  color: #000 !important;
}
#requestDemo form .form-group input:focus {
  outline: none;
}
#requestDemo form button {
  border: 1px solid #000000;
  background: transparent;
  color: #000;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  margin: 15px auto;
}
.modal-backdrop.show {
  opacity: 0.85 !important;
}
.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
  border: none;
}
.mail {
  text-decoration: none !important;
  color: #ffffffb3 !important;
}
.nute {
  background: rgb(250, 255, 255);
  background: linear-gradient(
    360deg,
    rgba(250, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}
/* .nav-areas {
  height: 9.5vh;
  position: sticky;
  padding-top: 2rem;
  top: 0;
  padding-bottom: 10px;
  z-index: 10;
  transition: top 0.7s ease-in-out;
  margin-left: 6.5vw;
  margin-right: 12vw;
  background: black;
} */
.wrap {
  padding: 40px 40px 0;
}
.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-11-19 15:41:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
